@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body{
    font-family: "Inter", sans-serif;
    background: #1b2838;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.buscar {
  background: #2a475e;
}
.buscar,.buscar::placeholder {
  color: #d7d7d7;
}
